aside {
  .aside-trending {
    height: 450px;
    border-radius: 20px;

    .aside-header {
      height: 8rem;
      display: flex;
      background-color: $bg-dark-lighten-2;
      align-items: flex-end;
      box-shadow: 0 4px 4px inset rgba($color: $bg-light-grey, $alpha: 0.2),
        0 -4px 10px inset rgba($color: $bg-dark-lighten-1, $alpha: 1);
      border-top-right-radius: 50px;
      h2 {
        font-size: 2.2rem;
        padding: 0 0 1.5rem 2rem;
        color: $text-light;
      }
    }
    .trending-sub {
      font-size: 1.6rem;
      display: block;
      padding: 1rem;
      color: $bg-dark;
      text-decoration: none;
      background-color: $bg-light-grey;
      border-bottom: 2px solid #d8d8d8;

      &:last-child {
        border: none;
      }
      li {
        display: flex;
        align-items: center;

        .ranking {
          margin-right: 2rem;
          padding: 0.5rem;
        }
      }
    }
  }
}
