// Global CSS Variables
// dark-Colors
$text-dark: #222;
// accents
$brand-color: #ff4500;

// bg colors
$bg-light: #fefefe;
$bg-light-grey: #d8d8d8;
$bg-dark-primary: #111;
$bg-dark-secondary: #272729;
$bg-dark-grey: #444;
$link-color: blue; // Global Resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::before {
    box-sizing: inherit;
  }
  &::after {
    box-sizing: inherit;
  }
}
input,
button {
  border: none;
  background: transparent;
  font-family: inherit;
}
html {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  padding: env(safe-area-inset);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $text-dark;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
