.contact-main {
  display: grid;
  justify-content: center;
  margin: 10rem auto 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  max-width: 120rem;
  gap: 2rem;
  background-color: $bg-light;
  padding: 3.5rem;
  border-radius: 20px;
  .contact-link {
    text-decoration: dashed underline #0ecbfa;
    &:hover {
      background-color: $link-color;
      color: $bg-light;
      text-decoration-color: $bg-light;
    }
  }
  header {
    grid-column: 1 / span 2;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: solid $bg-light-grey 2px;
    h1 {
      font-size: 2.4rem;
      font-weight: 200;
    }
    h2 {
      padding-top: 2rem;
      font-size: 2rem;
      font-weight: 200;
    }
    p {
      font-size: 1.8rem;
      margin-top: 1.5rem;
      line-height: 1.7;
      font-weight: 200;
    }
  }
  h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 200;
  }
  .contact-form {
    form {
      display: grid;
      .form-fields {
        margin-bottom: 2rem;
        label {
          display: block;
          font-size: 2rem;
          font-weight: 200;
        }
        input {
          width: 80%;
          font-size: 1.6rem;
          padding: 1rem;
          border: 2px solid $bg-dark-secondary;
          margin: 1rem 2rem 0 0.55rem;
          transition: border-color 0.4s ease-out;
          &:focus {
            outline: none;
            border-color: transparent;
            border-bottom-color: $bg-dark-secondary;
          }
        }
        textarea {
          @extend input;
          resize: none;
        }
      }
      button[type="submit"] {
        padding: 1rem;
        border: 2px solid $bg-dark-secondary;
        margin: 1rem 2rem 0 0.55rem;
        font-size: 1.8rem;
        width: 80%;
        color: inherit;
      }
    }
  }
  aside {
    margin: 0 2rem;
    ul {
      display: grid;
    }
    li {
      span {
        font-size: 2rem;
        font-weight: 200;
        align-items: center;
        i {
          margin-right: 0.5rem;
        }
      }
      a {
        display: block;
        font-size: 1.6rem;
        margin: 1rem 0 1.8rem 0;
        border: 2px solid transparent;
        padding: 1rem 0;
        color: $link-color;
      }
    }
  }
  p.bmc {
    font-size: 2rem;
    font-weight: 200;
    margin: 2rem 0;
    grid-column: 1 / span 2;
    justify-self: center;
    a {
      margin: 2rem auto;
      font-size: 1.6rem;
      background-color: #ffdd00;
      display: flex;
      align-items: center;
      width: max-content;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      img {
        object-fit: contain;
        height: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-main {
    display: flex;
    flex-direction: column;
    article {
      padding-bottom: 4rem;
      border-bottom: 2px solid $bg-light-grey;
    }
    aside {
      margin: 3rem 0;
      li {
        a {
          margin: 0;
          border: none;
        }
      }
    }
  }
}
