.post {
  &-card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $bg-light;
    padding: 1rem 2rem 2rem 2rem;
    max-width: 100vw;
    grid-column: 1;
    border-radius: 20px;
    transition: box-shadow 0.2s ease-out;
    margin-bottom: 3rem;

    &-large {
      max-width: 100vw;
      padding: 2rem;
      background-color: $bg-light;
      box-shadow: 0 3px 4px rgba($color: $bg-dark-secondary, $alpha: 0.25);

      border-radius: 20px;
      &.dark {
        background-color: $bg-dark-secondary;
        color: $bg-light;
        span {
          a {
            color: $bg-light;
          }
        }
      }
    }
  }
  &-large {
    &-content {
      img {
        object-fit: contain;
        width: 100%;
      }
      h2 {
        font-size: 2rem;
        margin: 1rem 1rem 1rem 0;
      }
    }
    &-information {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
    &-comments {
      grid-column: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 100vw;
    }
    &-body {
      font-size: 1.6rem;
      line-height: 1.7;
    }
  }
}
