.page {
  background-color: $bg-dark-lighten-1;
  .page-content {
    display: flex;
    justify-content: center;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 120rem;
    margin: 0 2rem;
    justify-content: center;
    gap: 3rem;
    flex-grow: 1;
    min-height: 100vh;
  }
  &-heading {
    font-size: 2.5rem;
    color: $text-light;
    padding: 1rem;
  }
  .posts-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }
}
