.page {
  background-color: #dae0e6;
  .page-content {
    display: flex;
    justify-content: center;
    &.results {
      flex-direction: column;
      gap: 5rem;
      margin: 0 5rem;
    }
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 120rem;
    margin: 5rem 2rem;
    justify-content: center;
    gap: 3rem;
    flex-grow: 1;
    min-height: 100vh;
  }
  &-heading {
    font-size: 2.5rem;
    color: #333;
    padding: 1rem;
  }
  .posts-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }
  video {
    width: 100%;
  }
}
