@media screen and (max-width: 959px) {
  .page {
    .page-wrapper {
      grid-template-columns: 1fr;
    }
    .sidebar {
      display: none;
    }
    .toolbar {
      padding: 0.5rem 0rem;
    }
    .posts-container {
      padding: 0;
    }
  }
}
