@media screen and (max-width: 959px) {
  .page {
    .page-wrapper {
      grid-template-columns: 1fr;
    }

    .sidebar {
      display: none;
    }
    .toolbar {
      padding: 0.5rem 0rem;
    }
    .posts-container {
      padding: 0;
    }
  }
}
.page .page-content.results {
  margin: 0 1rem;
}

@media screen and( max-width:400px) {
  .results-thumbnail {
    display: none;
  }
  .post-link {
    display: block !important;
  }
  .results-post {
    .post-footer {
      justify-content: center;
    }
  }
}
