.settings {
  &-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: $bg-light-grey, $alpha: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    &.dark {
      .modal-content {
        background-color: $bg-dark-secondary;
        h3 {
          color: $bg-light;
        }
        label {
          color: $bg-light;
        }
      }
    }
  }
}
.modal {
  &-content {
    width: 50rem;
    background-color: $bg-light;
  }
  &-header {
    padding: 1rem;
    h3 {
      font-size: 2.2rem;
      color: #333;
    }
  }
  &-footer {
    text-align: center;
  }
  &-body {
    padding: 1rem 0;
    border-top: 2px solid $bg-light-grey;
    border-bottom: 2px solid $bg-light-grey;
    .form-control {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #333;
      padding: 2rem 1rem;
      position: relative;
      label {
        width: 100%;
      }
      input[type="checkbox"] {
        opacity: 0;
        z-index: 2;
        height: 44px;
        width: 44px;
      }
      i {
        position: absolute;
        right: 1rem;
        transition: opacity 0.4s ease-out;
        border-radius: 50%;
        &.hide {
          opacity: 0;
        }
        &.light {
          color: #fad700;
        }
      }
    }
  }
  &-close {
    font-size: 1.4rem;
    background: $brand-color;
    width: 100%;
    padding: 1rem;
    color: $bg-light;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
