.site-nav {
  padding: 0.75rem 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $bg-light;
  box-shadow: 0 4px 4px rgba($color: $bg-dark-primary, $alpha: 0.25);
  &.dark {
    background-color: $bg-dark-primary;
    // box-shadow: 0 2px 10px rgba($color: $bg-light-grey, $alpha: 0.1);

    .search-form {
      input {
        background-color: $bg-dark-secondary;
        color: $bg-light;
        -webkit-appearance: none;
        &:focus {
          border-color: $bg-light-grey;
        }
      }
      i {
        color: $bg-light;
        font-weight: 500;
      }
    }
    .nav-controls {
      button {
        color: $bg-light;
      }
      a {
        color: $bg-light;
      }
    }
  }
  .logo {
    width: 44px;
    height: 44px;
    margin: 0.25rem;
    border-radius: 50%;

    img {
      width: 100%;
    }
  }
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    input {
      width: 100%;
      height: 3.6rem;
      padding: 0.25rem 1.25rem;
      font-size: 1.6rem;
      background-color: #eee;
      border-radius: 50px;
      transition: box-shadow 0.6s linear;
      &:focus {
        outline: none;
        border: 2px solid $bg-dark-secondary;
      }
      &:hover {
        box-shadow: 0 2px 4px inset rgba($color: $bg-dark-primary, $alpha: 0.5);
      }

      &::-webkit-input-placeholder {
        transition: all 0.5s ease-out;
      }
      &:hover::-webkit-input-placeholder {
        color: #adadad;
      }
      &:focus::-webkit-input-placeholder {
        opacity: 0;
      }
    }
    i {
      position: absolute;
      right: 1.8rem;
    }
  }
  .nav-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      border-radius: 50px;
      width: 4.4rem;
      height: 4.4rem;

      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 3px 3px inset 0 2px 4px rgba($color: #000, $alpha: 1);
      transition: box-shadow 0.5s ease-out;
      &:hover {
        i {
          animation: spinSlow 5s linear infinite;
        }
      }
      &:active {
        // box-shadow: none;
        box-shadow: 2px 3px 3px inset rgba($color: #000, $alpha: 0.5),
          -2px -4px 10px inset rgba($color: #000, $alpha: 0.5);
        i {
          animation: none;
          opacity: 0.4;
        }
      }
    }
    i {
      transition: all 0.4s ease-out;
    }
  }
}

@keyframes spinSlow {
  100% {
    transform: rotate(360deg);
  }
}
