.page {
  &.dark {
    color: $bg-light;
  }
  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }
  img.ufo {
    height: 45vh;
    padding: 2rem;
    transform: translate(10px, 10px);
    transform-origin: center;
  }
  .greeting {
    padding: 2rem;
    h1 {
      font-size: 3rem;
    }
    p {
      text-align: center;
      font-size: 2.2rem;
      padding: 1rem 0;
    }

    a {
      margin: 0 auto;
      font-size: 1.8rem;
      color: $bg-dark-secondary;
      display: flex;
      justify-content: center;
      width: 50%;
      border-radius: 50px;
      padding: 1rem 2rem;
      background: #fff;
      transition: all 0.6s ease-out;
      box-shadow: 0 3px 5px rgba($color: $bg-dark-secondary, $alpha: 0.5);
      &:hover {
        background: $bg-dark-grey;
        color: $bg-light;
      }
    }
  }
}
