.post {
  &-card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $bg-light;
    padding: 1rem 2rem 2rem 2rem;
    max-width: 100vw;
    grid-column: 1;
    &-large {
      max-width: 100vw;
      padding: 2rem;
      background-color: $bg-light;
    }
  }
  &-large {
    &-content {
      img {
        object-fit: contain;
        width: 100%;
      }
      h2 {
        font-size: 2rem;
        margin: 1rem 1rem 1rem 0;
      }
    }
    &-comments {
      grid-column: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 100vw;
      background: $bg-light;
    }
    &-body {
      font-size: 1.6rem;
      line-height: 1.7;
    }
  }
}
