.results-display {
  padding: 2rem;
  margin: 3rem 1rem 3rem 1rem;
  border-radius: 20px;
  background: $bg-light;
  box-shadow: 0 4px 4px rgba($color: $bg-dark-secondary, $alpha: 0.25);
  .results-term {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 200;
  }
  .results-count {
    font-size: 2rem;
  }
}
.results {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &-subreddit {
    background: $bg-light;
    align-items: center;
    border-radius: 20px;
    .subreddit-link {
      display: grid;
      text-decoration: none;
      gap: 1.5rem;
      align-items: center;
    }
  }
  &-subreddit-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .results-subreddit {
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      box-shadow: 0 4px 4px rgba($color: $bg-dark-secondary, $alpha: 0.25);
      p {
        font-size: 1.4rem;
      }
      &-title {
        font-size: 1.6rem;
      }
      &-icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      &-description {
        font-size: 1.4rem;
      }
    }
  }
  &-posts {
    grid-column: 1;
  }
  &-posts-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
  }
  &-post {
    background: $bg-light;
    box-shadow: 0 4px 4px rgba($color: $bg-dark-secondary, $alpha: 0.25);
    border-radius: 20px;
    padding: 2rem;
    .post-link {
      display: grid;
      text-decoration: none;
      grid-template-columns: min-content 1fr;
      gap: 1.5rem;
    }
    .post-footer {
      border: none;
    }
    .post-information {
      border: none;
    }
    .results-thumbnail {
      width: 10rem;
      height: 10rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-title {
    font-size: 1.6rem;
    span {
      margin-right: 1rem;
    }
  }
}
