.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: $bg-dark-lighten-2;
  border-radius: 10px;
  box-shadow: 0 4px 4px inset rgba($color: $bg-light-grey, $alpha: 0.2),
    0 -4px 10px inset rgba($color: $bg-dark-lighten-1, $alpha: 1);
  margin-bottom: 4rem;
  .filter {
    &-controls {
      display: flex;
      width: 50%;
      justify-content: flex-start;
    }
    &-option {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      background: $bg-dark;
      color: $text-light;
      border-radius: 50px;
      margin: 0 1rem;
      i {
        margin: 0 0 0 0.5rem;
      }
    }
  }
  &-view {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #61dbfb;
    border-radius: 50px;
  }
}
