.toolbar {
  // margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100vw;
  border-radius: 20px;

  &.dark {
    .filter {
      &-option {
        color: $bg-light;
        border-color: $bg-light;
        &.current {
          background-color: $bg-light;
          color: $bg-dark-secondary;
        }
      }
    }
  }
  .filter {
    &-controls {
      display: flex;
      padding: 1rem;
      width: 100%;
    }
    &-option {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border: 2px solid $bg-dark-secondary;
      border-radius: 50px;
      margin: 0 0.5rem;
      font-size: 1.6rem;
      min-width: 80px;
      justify-content: center;
      &.top {
        position: relative;
      }

      &.current {
        background-color: $bg-dark-secondary;
        color: $bg-light;
      }
      i {
        margin: 0 0 0 0.5rem;
      }
    }
    &-time {
      display: flex;
      flex-direction: row;
      padding: 1rem;
    }
  }
  &-view {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #dae0e6;
    border-radius: 50px;
  }
}

.custom-select {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;

  width: max-content;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 4px 4px #dae0e6;
  justify-content: space-evenly;
  &-hidden {
    display: none;
  }
  button.option {
    padding: 1rem;
    font-size: 1.6rem;
    border-top: $bg-light-grey 2px solid;
  }
}
