.trending {
  margin-top: 2rem;
  position: relative;
  &-container {
    padding: 3rem;
  }
  &-heading {
    font-size: 3rem;
    color: $text-light;
    position: absolute;
    top: -20px;
  }
  &-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 2.5rem 0;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    max-width: 120rem;
    margin: 0 auto;
  }
  &-card {
    height: 20vh;
    width: 40vw;
    min-width: 350px;
    position: relative;
    border-radius: 50px;
    max-width: 500px;
    transition: transform 0.4s ease-out;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 2rem;
    background-color: $brand-color;
    color: $text-light;
    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .trending {
      &-title {
        font-size: 1.9rem;
        font-weight: 600;
        border-radius: 50px;
        padding: 2rem;
      }
    }
  }
}
