.home {
  .feed-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 120rem;
    margin: 0 auto;
    gap: 3rem;
  }
  .posts-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }
}
