.site-nav {
  background-color: $bg-dark;
  padding: 0.75rem 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  .logo {
    width: 44px;
    height: 44px;
    margin: 0.25rem;
    border-radius: 50%;
    box-shadow: 2px 3px 3px inset rgba($color: $text-light, $alpha: 0.2),
      0 2px 4px rgba($color: #000, $alpha: 1);
    img {
      width: 100%;
    }
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    input {
      width: 80%;
      height: 3.6rem;
      padding: 0.25rem 1.25rem;
      font-size: 1.6rem;
      background-color: $bg-dark-lighten-2;
      border-radius: 50px;
      color: $text-light;
    }
    i {
      position: absolute;
      right: 13%;
      color: $text-light;
    }
  }
  .nav-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      border-radius: 50px;
      width: 4.4rem;
      height: 4.4rem;
      background: $brand-color;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 3px 3px inset rgba($color: $text-light, $alpha: 0.2),
        0 2px 4px rgba($color: #000, $alpha: 1);
    }
    i {
      color: $text-light;
    }
  }
}
