.post {
  &-card {
    display: grid;
    grid-template-columns: min-content 1fr;
    background-color: #dedede;
    padding: 1rem 2rem 2rem 0;
  }
  &-vote-control {
    grid-column: 1;
    display: flex;
    grid-row: 1 / span 3;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
    border-right: 2px solid;
    margin: 0 1rem 0 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    img {
      object-fit: contain;
      width: 100%;
      max-height: 500px;
    }
    iframe {
      object-fit: contain;
      height: 90%;
      border: none;
      height: 420px;
    }
  }
}
